## WebScraping IMDB

### Libraries to import:

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

import requests
import json
import re

from bs4 import BeautifulSoup
soup = BeautifulSoup()
from urllib.request import urlopen

### Defining Functions:

In [2]:
def individual_url(year,search_number):
    '''
    Format url with year and search number.
    Each url returns 50 entries, based on pagination. 
    Example url: https://www.imdb.com/search/title/?title_type=feature&year=2006-01-01,2006-12-31&start=1&ref_=adv_nxt
    '''
    _string = 'https://www.imdb.com/search/title/?title_type=feature&year={}-01-01,{}-12-31&start={}&ref_=adv_nxt'.format(year,year,search_number)
    
    return _string

In [3]:
def search_list(list_of_years,list_of_searches):
    '''
    Input a list of years and list of searches to compile a list of urls using individual_url().
    Returns a list of tuples of (individual_url, year).
    Example: https://www.imdb.com/search/title/?title_type=feature&year=LIST_OF_YEARS&start=LIST_OFSEARCHES&ref_=adv_nxt
    '''
    search_list = []
    for year in list_of_years:
        for i in list_of_searches:
            search_list.append((individual_url(year,i),year))
    return search_list

In [4]:
time_search = search_list([2004],[1]) #outputs an example search string from search_list()
time_search

[('https://www.imdb.com/search/title/?title_type=feature&year=2004-01-01,2004-12-31&start=1&ref_=adv_nxt',
  2004)]

In [5]:
def list_individual_urls(list_of_years,list_of_searches):
    '''
    Returns a list of [individual urls, title, date]
    Note: list_of_searches should begin at 1 and increase in increments of 50 (ex. 1,51,101...) to avoid duplicates.
    '''
    
    _list = []
    _searched = search_list(list_of_years,list_of_searches) # Create list of search lists
    
    for link, year in _searched:   # For each iteration over our search
        uClient = urlopen(link)    # terms and pages, read the page's html.
        page_html = uClient.read() #
        uClient.close()            #
        
        page_soup = BeautifulSoup(page_html, 'html.parser')                  # Use the Soup parser to search for
        containers = page_soup.findAll("h3",{"class":"lister-item-header"})  # our lister-item-headers - of which
                                                                             # budget and gross earnings are in
        for container in containers:
            _string = 'https://www.imdb.com' + container.a['href']
            _list.append((_string,container.a.text, year))
            
    return _list

In [6]:
def scraped_df(list_of_years,list_of_searches):
    '''
    Returns a merged dataframe from our list of individual urls and the items retrieved from them.
    '''
    
    _list_url = pd.DataFrame(list_individual_urls(list_of_years, list_of_searches)) # Creating first dataframe of 
    _list_url.columns = ['url','title','year']                                      # urls, title, year.
    
    _individual = []
    
    for link in tqdm(_list_url['url']):     # Creates second dataframe of urls, genre, gross_usa, 
        uClient = urlopen(link)             # budget, and worldwide_gross.
        page_html = uClient.read()          #
        uClient.close()                     # Using TQDM to track progress. 
        
        page_soup = BeautifulSoup(page_html, 'html.parser')
        
        # Attempt to scrape genre. Will be creating a list of applicable genres for each movie.
        con_genre = page_soup.findAll("div",{"class":"see-more inline canwrap"})
        _genre = []
        
        try:
            for i in con_genre[-1].findAll('a'):
                _genre.append(i.text.strip(' '))
        except:
            _genre = np.nan
           
        con_info = page_soup.findAll("div",{"class":"txt-block"})
        str_con_info = str(con_info)
        _str_con_info = str_con_info.replace('\n',' ')
        
        # Attempt to scrape gross_usa earnings.
        _gross_USA = ''
        try:
            _gross_USA = re.findall(r'(?<=Gross USA:<\/h4>).\S*',_str_con_info)[0].strip(' ')
        except:
            _gross_USA = np.nan #Skip if not a number.

        # Attempt to scrape budget.
        _budget = ''
        try:
            _budget = re.findall(r'(?<=Budget:<\/h4>).\S*',_str_con_info)[0].strip(' ')
        except:
            _budget = np.nan #Skip if not a number.
            
        # Attempt to scrape worldwide_gross earnings.
        _worldwide_gross = ''
        try:
            _worldwide_gross = re.findall(r'(?<=Worldwide Gross:<\/h4>).\S*',_str_con_info)[0].strip(' ')
        except:
            _worldwide_gross = np.nan #Skip if not a number.
        
        # Attempt to scrape MPAA Rating.
        _pg_rated = ''
        try:
            _pg_rated = re.findall(r'(?<=<span>Rated).\S*',_str_con_info)[0].strip(' ')
        except:
            _pg_rated = np.nan #Skip if not a number.
            
        # Attempt to scrape user rating.
        con_rating = page_soup.findAll("div",{"class":"ratingValue"})
        _rating = ''
        try:
            _rating = con_rating[0].strong.text
        except:
            _rating = np.nan #Skip if not a number.
        
        # Attempt to scrape user popularity rating.
        _rating_pop = ''
        try:
            _rating_pop_demo = page_soup.findAll("div",{"class":"ratingValue"})[0].strong['title']
            _rating_pop = re.findall(r'(?<=based on ).\S*',_rating_pop_demo)[0]
        except:
            _rating_pop = np.nan #Skip if not a number.
            
        # Append successfully scraped information to our individual list.
        _individual.append((link,_genre,_gross_USA,_budget,_worldwide_gross,_pg_rated,_rating,_rating_pop))
            
    # With our now populated list, create a dataframe witht that information.        
    _individual_df = pd.DataFrame(_individual)
    _individual_df.columns = ['url','genre','gross_usa','budget','worldwide_gross','pg_rated','rating','rating_pop']
    
    # Merge our first database of url, title, and year with our new dataframe of scraped information.
    _merged = pd.merge(_list_url,_individual_df,on='url',how='outer')
    
    return _merged

### Scraping Each Decade:

In [7]:
sample_albert = scraped_df([2004],[1]) # A sample iteration of year 2004 starting with movies of popularity 1 to 50.
sample_albert

100%|██████████| 50/50 [00:49<00:00,  1.02it/s]

,url,title,year,genre,gross_usa,budget,worldwide_gross,pg_rated,rating,rating_pop
0,https://www.imdb.com/title/tt0377092/,Mean Girls,2004,[Comedy],"$86,058,055","$17,000,000","$130,125,829",PG-13,7.0,"321,703"
1,https://www.imdb.com/title/tt0332280/,The Notebook,2004,"[Drama, Romance]","$81,001,787","$29,000,000","$115,882,795",PG-13,7.8,"503,840"
2,https://www.imdb.com/title/tt0304141/,Harry Potter and the Prisoner of Azkaban,2004,"[Adventure, Family, Fantasy, Mystery]","$249,975,996","$130,000,000","$799,972,094",PG,7.9,"528,467"
3,https://www.imdb.com/title/tt0347149/,Howl's Moving Castle,2004,"[Animation, Adventure, Family, Fantasy]","$5,576,743","$24,000,000","$236,212,992",PG,8.2,"313,939"
4,https://www.imdb.com/title/tt0364725/,Dodgeball,2004,"[Comedy, Sport]","$114,326,736","$20,000,000","$168,423,227",PG-13,6.7,"224,244"
5,https://www.imdb.com/title/tt0332452/,Troy,2004,"[Drama, History]","$133,378,256","$175,000,000","$497,409,852",R,7.2,"476,956"
6,https://www.imdb.com/title/tt0338013/,Eternal Sunshine of the Spotless Mind,2004,"[Drama, Romance, Sci-Fi]","$34,400,301","$20,000,000","$74,036,715",R,8.3,"882,443"
7,https://www.imdb.com/title/tt0349903/,Ocean's Twelve,2004,"[Crime, Thriller]","$125,544,280","$110,000,000","$362,744,280",PG-13,6.5,"349,294"
8,https://www.imdb.com/title/tt0265208/,The Girl Next Door,2004,"[Comedy, Drama, Romance]","$14,589,444","$25,000,000","$30,381,722",R,6.7,"197,444"
9,https://www.imdb.com/title/tt0381707/,White Chicks,2004,"[Comedy, Crime]","$70,831,760","$37,000,000","$113,100,873",PG-13,5.6,"126,918"
10,https://www.imdb.com/title/tt0368891/,National Treasure,2004,"[Action, Adventure, Mystery, Thriller]","$173,008,894","$100,000,000","$347,512,318",PG,6.9,"297,847"
11,https://www.imdb.com/title/tt0317705/,The Incredibles,2004,"[Animation, Action, Adventure, Family]","$261,441,092","$92,000,000","$631,606,713",NaN,8.0,"638,924"
12,https://www.imdb.com/title/tt0356150/,EuroTrip,2004,[Comedy],"$17,771,387","$25,000,000","$22,605,153",R,6.6,"190,465"
13,https://www.imdb.com/title/tt0375679/,Crash,2004,"[Crime, Drama, Thriller]","$54,580,300","$6,500,000","$98,410,061",R,7.8,"413,632"
14,https://www.imdb.com/title/tt0405159/,Million Dollar Baby,2004,"[Drama, Sport]","$100,492,203","$30,000,000","$216,763,646",PG-13,8.1,"618,868"
15,https://www.imdb.com/title/tt0343660/,50 First Dates,2004,"[Comedy, Drama, Romance]","$120,908,074","$75,000,000","$198,520,934",PG-13,6.8,"318,756"
16,https://www.imdb.com/title/tt0316654/,Spider-Man 2,2004,"[Action, Adventure, Sci-Fi]","$373,585,825","$200,000,000","$788,976,453",PG-13,7.3,"529,322"
17,https://www.imdb.com/title/tt0372183/,The Bourne Supremacy,2004,"[Action, Mystery, Thriller]","$176,241,941","$75,000,000","$290,835,269",PG-13,7.7,"424,835"
18,https://www.imdb.com/title/tt0378194/,Kill Bill: Vol. 2,2004,"[Action, Crime, Thriller]","$66,208,183","$30,000,000","$154,116,796",R,8.0,"663,525"
19,https://www.imdb.com/title/tt0365748/,Shaun of the Dead,2004,"[Comedy, Horror]","$13,542,874","GBP4,000,000","$30,076,102",R,7.9,"499,212"
20,https://www.imdb.com/title/tt0387564/,Saw,2004,"[Horror, Mystery]","$56,000,369","$1,200,000","$103,911,669",R,7.6,"369,810"
21,https://www.imdb.com/title/tt0374900/,Napoleon Dynamite,2004,[Comedy],"$44,540,956","$400,000","$46,138,887",PG,6.9,"193,792"
22,https://www.imdb.com/title/tt0357413/,Anchorman: The Legend of Ron Burgundy,2004,[Comedy],"$85,288,303","$26,000,000","$90,649,730",PG-13,7.2,"322,753"
23,https://www.imdb.com/title/tt0361862/,The Machinist,2004,"[Drama, Thriller]","$1,082,715","$5,000,000","$8,203,235",R,7.7,"348,638"
24,https://www.imdb.com/title/tt0289879/,The Butterfly Effect,2004,"[Drama, Sci-Fi, Thriller]","$57,938,693","$13,000,000","$96,822,421",R,7.6,"441,929"
25,https://www.imdb.com/title/tt0337563/,13 Going on 30,2004,"[Comedy, Fantasy, Romance]","$57,231,747","$37,000,000","$96,455,697",PG-13,6.2,"160,706"
26,https://www.imdb.com/title/tt0167190/,Hellboy,2004,"[Action, Fantasy, Horror]","$59,623,958","$66,000,000","$99,378,985",PG-13,6.8,"301,495"
27,https://www.imdb.com/title/tt0369339/,Collateral,2004,"[Crime, Drama, Thriller]","$101,005,703","$65,000,000","$220,926,695",R,7.5,"350,012"
28,https://www.imdb.com/title/tt0363547/,Dawn of the Dead,2004,"[Action, Horror]","$59,020,957","$26,000,000","$102,278,712",R,7.3,"229,384"
29,https://www.imdb.com/title/tt0338751/,The Aviator,2004,"[Biography, Drama]","$102,610,330","$110,000,000","$213,719,942",PG-13,7.5,"325,090"
30,https://www.imdb.com/title/tt0319262/,The Day After Tomorrow,2004,"[Action, Adventure, Sci-Fi, Thriller]","$186,740,799","$125,000,000","$552,639,571",PG-13,6.4,"406,340"
31,https://www.imdb.com/title/tt0338526/,Van Helsing,2004,"[Action, Adventure, Fantasy]","$120,177,084","$160,000,000","$300,157,638",PG-13,6.1,"239,430"
32,https://www.imdb.com/title/tt0350258/,Ray,2004,"[Biography, Drama, Music]","$75,331,600","$40,000,000","$123,971,376",PG-13,7.7,"135,299"
33,https://www.imdb.com/title/tt0293508/,The Phantom of the Opera,2004,"[Drama, Musical, Romance, Thriller]","$51,268,815","$70,000,000","$154,648,887",PG-13,7.3,"114,144"
34,https://www.imdb.com/title/tt0335345/,The Passion of the Christ,2004,[Drama],"$370,782,930","$30,000,000","$612,054,428",R,7.2,"211,534"
35,https://www.imdb.com/title/tt0363163/,Downfall,2004,"[Biography, Drama, History, War]","$5,509,040","EUR13,500,000","$92,181,574",R,8.2,"322,640"
36,https://www.imdb.com/title/tt0362227/,The Terminal,2004,"[Comedy, Drama, Romance]","$77,872,883","$60,000,000","$219,100,084",PG-13,7.4,"392,868"
37,https://www.imdb.com/title/tt0298148/,Shrek 2,2004,"[Animation, Adventure, Comedy, Family, Fantasy...","$441,226,247","$150,000,000","$928,760,770",PG,7.2,"407,508"
38,https://www.imdb.com/title/tt0411705/,9 Songs,2004,"[Drama, Music, Romance]","$66,853","GBP1,000,000","$1,590,308",NaN,4.8,"21,116"
39,https://www.imdb.com/title/tt0368447/,The Village,2004,"[Drama, Mystery, Thriller]","$114,197,520","$60,000,000","$256,697,520",PG-13,6.5,"237,408"
40,https://www.imdb.com/title/tt0375912/,Layer Cake,2004,"[Action, Crime, Drama, Thriller]","$2,339,957","GBP4,000,000","$11,850,214",R,7.3,"162,800"
41,https://www.imdb.com/title/tt0328107/,Man on Fire,2004,"[Action, Crime, Drama, Thriller]","$77,911,774","$70,000,000","$130,834,852",R,7.7,"322,022"
42,https://www.imdb.com/title/tt0339291/,Lemony Snicket's A Series of Unfortunate Events,2004,"[Adventure, Comedy, Family, Fantasy]","$118,634,549","$140,000,000","$211,468,235",PG,6.8,"192,032"
43,https://www.imdb.com/title/tt0349683/,King Arthur,2004,"[Action, Adventure, Drama, History, War]","$51,882,244","$120,000,000","$203,567,857",PG-13,6.3,"157,034"
44,https://www.imdb.com/title/tt0376541/,Closer,2004,"[Drama, Romance]","$33,987,757","$27,000,000","$115,505,027",R,7.2,"198,816"
45,https://www.imdb.com/title/tt0330793/,The Punisher,2004,"[Action, Crime, Drama, Thriller]","$33,810,189","$33,000,000","$54,700,105",R,6.4,"147,145"
46,https://www.imdb.com/title/tt0296572/,The Chronicles of Riddick,2004,"[Action, Adventure, Sci-Fi, Thriller]","$57,761,012","$105,000,000","$115,900,534",NaN,6.7,"211,213"
47,https://www.imdb.com/title/tt0290002/,Meet the Fockers,2004,"[Comedy, Romance]","$279,261,160","$80,000,000","$522,657,936",PG-13,6.3,"247,778"
48,https://www.imdb.com/title/tt0390022/,Friday Night Lights,2004,"[Action, Drama, Sport]","$61,255,921","$30,000,000","$61,950,770",PG-13,7.2,"57,611"
49,https://www.imdb.com/title/tt0373074/,Kung Fu Hustle,2004,"[Action, Comedy, Fantasy]","$17,108,591","$20,000,000","$104,882,445",R,7.7,"123,815"

In [ ]:
_1960TO1970 = list(range(1960,1971)) # List of years in the sixties decade to iterate through.

In [ ]:
_top300 = [1,51,101,151,201,251] # List of ranges of popularity to iterate through.

In [ ]:
_1960_1970 = scraped_df(_1960TO1970,_top300) # Pass these lists in to be scraped.

In [ ]:
_1960_1970.to_csv('1960_1970.csv',header=True,index=False) # Write the resulting dataframe to a CSV. Repeat these 
                                                           # lists for each decade. Final product is a CSV for each
                                                           # decade with the top 300 movies for each year.